@font-face {
    font-family: 'SourceSansPro';
    src: url('/src/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}