$accent-color: #3F3F3F;
$gray: #B4B4B4;
$white: #FFFEFB;
$red: #FF8484;

$font-v1: 'SourceSansPro';
$font-v2: 'Inter';
$fz-v1: 10px;
$fz-v2: 12px;

$shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$gutter: 16px;
$gap: 16px;

$sidebar-width: 330px;
$form-padding: 24px;
$field-height: 36px;

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;